@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// General application styles
html,
body {
  height: 100%;
  font-family: $fr-typeface;
}

#app {
    height: 100%;
    width: 100%;

    .dropdown-toggle::after {
        margin-left: 1em;
    }
}

.prism-editor-wrapper.workflow-code-editor {
  height: 600px;
}

.prism-editor-wrapper.workflow-large-code-editor {
  height: 600px;
}

.modal-xxl {
  max-width: 1200px;
}

.radio-card-no-items {
  text-align: center;
  font-size: 18px;

  .radio-card-icon {
    position: relative;
    top: 7px;
    font-size: 32px;
  }
}
