/**
 * Copyright 2020 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// General application styles
html,
body {
  height: 100%;
  font-family: $fr-typeface;
}

#app {
    height: 100%;
    width: 100%;

    .dropdown-toggle::after {
        margin-left: 1em;
    }
}
